* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  border-box: box-sizing;
  font-family: sans-serif;
  outline: none;
}
body {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  border: 1px solid blue;
}
nav {
  background: lavender;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: lightcoral;
  text-shadow: 5px 1px 3px black;
  box-shadow: 2px 1px 6px black;
}
form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: lavender;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  display: block;
  width: 25rem;

  border: 0;
  box-shadow: inset 0px 1px 3px black;
  padding: 10px;
}
button {
  background: black;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  margin: auto;
}
label {
  font-weight: bold;
}
.output {
  background-color: red;
  font-size: 20px;
  color: white;
  font-weight: bold;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  width: 50%;
  text-overflow: ellipsis;
  border-radius: 10px;
  padding: 15px;
}
.output-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.result {
  display: flex;
}
